.add-to-cart {
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 5px 30px;
  border-radius: 30px;
}

.request {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
}

.schedule {
  background-color: rgb(230, 230, 230);
  color: black;
  border: none;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
}

.entertainment {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.is-toggled {
  background-color: rgb(230, 230, 230);
  color: black;
}
